asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
cloudinary==1.41.0
Django==5.1
django-cloudinary-storage==0.3.0
django-cotton==0.9.32
django-debug-toolbar==4.4.6
django-dotenv==1.4.2
django-htmx==1.19.0
django-maintenance-mode==0.21.1
idna==3.8
pillow==10.4.0
psycopg==3.2.1
psycopg-binary==3.2.1
psycopg-pool==3.2.2
python-fsutil==0.14.1
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
