{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <!-- Optional Configs
        Set up a PWA
    {% include 'base/pwa.html' %}
    
    Set up dark-light Theme-->
    {% include 'base/darkModeSwitcher.html' %}
    
    {% include 'base/seo.html' %}
    {% include 'base/fonts.html' %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-white dark:bg-black">
    <header>
   {% include 'base/nav.html' %}
   </header>
   {% include 'base/messages.html' %}
   <main>
    {% block content %}
    {% endblock %}
   </main>
   {% include 'base/footer.html' %}
    <script src="{% static 'js/main.js' %}"></script>
    {% include 'base/modeScript.html' %}
</body>
</html>